<h1>All Available Information for {{businessObject.name}}</h1>
<span>Click </span><a href="/businesses">here</a> to return to the directory
{{#each businessObject}}
<table>
  <tr>
    <th>{{@key}}</th>
  </tr>
  <tr>
    <td>
      {{#each this}}
        {{@key}}
        {{this}}
      {{/each}}
      {{this}}
    </td>
  </tr>
</table>
{{/each}}
